extends ../layout/common
block common
 
    nav.navbar.navbar-light.bg-light.mb-3.p-4.navbarnone
        a.navbar-brand(href='/')
            img.d-inline-block.align-top.mr-1(src='/img/logo.jpg', width='30', height='30', alt='')
            |Home
        a.nav-link.navcus(href="/pet") Pet
        a.nav-link.navcus(href="/user") User
        a.nav-link.navcus(href="#") Cart(#{countCart?countCart:0} pets) 
    
    .container
        h1 Pet list
        .d-flex.align-items-center
            a.btn.btn-primary.mb-1.btn-lg(href="/pet/create") Create new pet
            form.ml-auto(action="/pet/search", method="GET")
                .col-xs-2.divtbs
                    input#id.form-control(type="text", name="q" , value="")
                    button.btn.btn-outline-secondary.ml-1 Search
        .row
            each pt in pet
                .col-3
                    .card(style='width: 18rem;').p-2.mb-1
                        img(src=''+pt.image).card-img-top
                        .card-body.p-2
                            h5.card-title=pt.name
                            p.card-text=pt.description
                            a.btn.btn-primary(href='/pet/add/'+pt.id) Add cart
                            a.btn.btn-danger.ml-1(href='/pet/delete/'+pt.id) delete
                            a.btn.btn-info.ml-1(href='/pet/'+pt.id) Info
      
        nav(aria-label='Page navigation example').mt-1
            ul.pagination
                li.page-item.disabled
                a.page-link(href='?page='+(page-1)) Previous
                li.page-item
                - for (var x = 1; x <= numberpage; x++)
                    a.page-link(href='?page='+x+'&name='+name)=x
                li.page-item
                a.page-link(href='?page='+(page+1)) Next
