head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', 
    integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
.container
    h2 create user
    form(action="/user/create",method="POST")
        .input-group.input-group-sm.mb-3
            .input-group-prepend 
                span.input-group-text Name user
            input.form-control(type="text", name ="na")
        .input-group
            .input-group-prepend
                span.input-group-text About infomatino
            textarea.form-control(aria-label='With textarea',name="about")
        
        button.btn.btn-outline-secondary.mt-1 Create
    