extends ../layout/common
block common
    nav.navbar.navbar-light.bg-light.mb-3.p-4.navbarnone
        a.navbar-brand(href='/')
            img.d-inline-block.align-top.mr-1(src='/img/logo.jpg', width='30', height='30', alt='')
            |Home
        a.nav-link.navcus(href="/user") User
        a.nav-link.navcus(href="/pet") Pets
        a.nav-link.navcus(href="#") About us
    .container
        .d-flex.align-items-center
            a.btn.btn-outline-secondary.mt-1(href="/user/create") Create new user
            form.ml-auto(action="/user/search", method="GET")
                .col-xs-2.divtbs
                    input#id.form-control(type="text", name="q" , value="")
                    button.btn.btn-outline-secondary.ml-1 Search
        table.table.table-striped
            tr
                th Avatar
                th Name
                th Phone
                th About
                th.pl-5 Action
            each us in user
                tr
                    td
                        img(src=us.avatar,width="32", alt="")
                    td=us.name
                    td=us.phone
                    td=us.about
                    td
                        a.btn.btn-outline-secondary(href="/user/"+us.id) info
                        a.btn.btn-outline-secondary.ml-1(href="/user/deleteUser/"+us.id) Delete
        script.
            var searchInput = document.getElementById('id');
            var value = searchInput.value;
            searchInput.addEventListener('change', function() {
            sessionStorage.setItem('draft', searchInput.value)
            })
            searchInput.value = sessionStorage.getItem('draft');

