.divtbs{
display: flex;
}
.btnbts{
    margin-top: 0;
}
.navbarnone{
    display: block;
    background-color:#afb5b5 !important;
    border-radius:5px; 
}
.navcus{
    display: inline;
    color: #555;
    transition: all 1s;
}
.navcus:hover{
    color: #222;
}
.colorcus-g{
color: green !important;
}
.box-szbor{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.imgcus{
    width:35px;
    height: 35px;
    border-radius: 30px;
}

